# Imports

In [1]:
import pandas as pd
import numpy as np

***
# Définition des DataFrame  des tables "akas" et "basics"

In [2]:
df_title_akas = pd.read_csv(
    r"C:\Données\d_ Wild Code School\d_ Projet 02\datasets\title_akas.tsv",
    delimiter = '\t', low_memory = False)
#df_title_akas

In [3]:
df_title_basics = pd.read_csv(
    r"C:\Données\d_ Wild Code School\d_ Projet 02\datasets\title_basics.tsv",
    delimiter = '\t', low_memory = False)
#df_title_basics

***
# Vérification de la pertinence des données

## Vérification que les données de la colonne '*startYear*' de la table "basics" sont pertinentes
On vérifie que ces données sont bien des dates

### Vérification que les valeurs de '*startYear*' sont numériques
Si ce n'est pas le cas, ça ne peut pas être une année.

In [4]:
# Définition d'une nouvelle colonne (Series) "startYearNumeric" pour vérifier
# si les valeurs de la colonne "startYear" sont numériques (True) ou non
df_title_basics["startYearNumeric"] = df_title_basics["startYear"].str.isnumeric()
#print(df_title_basics["startYearNumeric"])

# Décompte des valeurs de cette nouvelle colonne
print("Nombre de valeurs nmuériques et non numériques :")
print(f"- Nombre de valeurs '{df_title_basics['startYearNumeric'].value_counts().index[0]}' : "\
      f"{df_title_basics['startYearNumeric'].value_counts().values[0]}")
print(f"- Nombre de valeurs '{df_title_basics['startYearNumeric'].value_counts().index[1]}' : "\
      f"{df_title_basics['startYearNumeric'].value_counts().values[1]}")
print("------------------------------------------------------------\n")

# Valeurs non numériques de la colonne startYear
print("Table des valeurs non numériques de la colonne 'startYear'")
df_title_basics_startYear_not_num = df_title_basics.loc[df_title_basics["startYearNumeric"] == False, "startYear"]
print(df_title_basics_startYear_not_num)
print("\nValeurs non numériques de la colonne 'startYear :'")
print(df_title_basics_startYear_not_num.value_counts())

Nombre de valeurs nmuériques et non numériques :
- Nombre de valeurs 'True' : 8447825
- Nombre de valeurs 'False' : 1320513
------------------------------------------------------------

Table des valeurs non numériques de la colonne 'startYear'
20798      \N
65758      \N
78451      \N
79361      \N
83807      \N
           ..
9768226    \N
9768228    \N
9768242    \N
9768248    \N
9768266    \N
Name: startYear, Length: 1320513, dtype: object

Valeurs non numériques de la colonne 'startYear :'
\N    1320513
Name: startYear, dtype: int64

Il y a plus de 1 300 00 lignes dans la table *basics* avec une année de début ("*startYear*") inconnue.

## Vérification que les données de la colonne "isAdult" sont pertinentes
On vérifie que ces données sont bien '0' (False) ou '1' (True)

In [5]:
# Définition d'une nouvelle colonne (Series) "isAdultOk" pour vérifier
# si les valeurs de la colonne "isAdult" sont bien 1 (True) ou 0 (False)
df_title_basics["isAdultOk"] = df_title_basics["isAdult"].isin(['0', '1'])
#print(df_title_basics["isAdultOk"])

# Décompte des valeurs de cette nouvelle colonne :
print(df_title_basics["isAdultOk"].value_counts())

df_title_basics.loc[df_title_basics["isAdultOk"] == False]

True     9768326
False         12
Name: isAdultOk, dtype: int64

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,startYearNumeric,isAdultOk
1097512,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,\N,\N,Reality-TV,NaN,False,False
1508146,tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019,\N,\N,Talk-Show,NaN,False,False
1896122,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,\N,\N,Documentary,NaN,False,False
2007107,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,\N,\N,Talk-Show,NaN,False,False
2161275,tt12149332,tvEpisode,Jeopardy! College Championship Semifinal Game ...,0,2020,\N,\N,"Game-Show,Short",NaN,False,False
2306457,tt12415330,tvEpisode,Anthony Davis High Brow Tank\tAnthony Davis Hi...,0,2017,\N,\N,Reality-TV,NaN,False,False
2995567,tt13704268,tvEpisode,Bay of the Triffids/Doctor of Doom\tBay of the...,0,\N,\N,\N,"Animation,Comedy,Family",NaN,False,False
6473194,tt27147391,tvEpisode,LATINO Accents QUIZ! w@MrHReviews @EchoBaseNet...,0,2023,\N,\N,"News,Talk-Show",NaN,False,False
6526407,tt27404292,tvEpisode,Nord-Koreas röda prinsessa\tNord-Koreas röda p...,0,2022,\N,\N,Documentary,NaN,False,False
7090488,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,\N,\N,"Game-Show,Reality-TV",NaN,False,False
9724962,tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019,\N,\N,Talk-Show,NaN,False,False
9764793,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,Talk-Show,NaN,False,False

12 lignes de la table *basics* on des données de la colonne "*isAdult*" incohérentes ou manquantes ; pour certaines lignes, ce sont en fait des dates (ex: 2019, 1981,...) au lieu de valeurs booléennes (0 ou 1).
Etant donné les titres concernés et leur très faible nombre, on ne corrige pas ces erreurs.

## Vérification que les données de la colonne '*Region*' de la table "akas" sont pertinentes

In [6]:
df_title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35584437 entries, 0 to 35584436
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [7]:
# Décompte du nombre de valeurs "\N" dans la colonne 'region'
df_title_akas[df_title_akas["region"] == "\\N"]["region"].value_counts()

\N    1886877
Name: region, dtype: int64

Plus de 1 800 000 lignes ont une valeur manquante dans la colonne "*region*" et ne seront pas prises en compte.

In [8]:
df_title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
35584432,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
35584433,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
35584434,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
35584435,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
35584436,tt9916856,2,The Wind,\N,\N,original,\N,1

## Vérification que les données de la colonne '*isOriginalTitle*' de la table "akas" sont pertinentes

### Valeurs présentes dans la colonne '*isOriginalTitle*'

In [9]:
df_title_akas["isOriginalTitle"].value_counts()

0     33771964
1      1810364
\N        2109
Name: isOriginalTitle, dtype: int64

### Valeurs dans la colonne '*region*' lorsque `isOriginalTitle == '1'`

In [10]:
df_title_akas[df_title_akas["isOriginalTitle"] == '1']["region"].value_counts()

\N     1810343
US          10
XWW          4
GB           2
JP           1
HK           1
CN           1
BR           1
DK           1
Name: region, dtype: int64

### Valeurs dans la colonne '*region*' lorsque `isOriginalTitle == '0'`

In [11]:
df_title_akas[df_title_akas["isOriginalTitle"] == '0']["region"].value_counts()

DE    4259475
FR    4255360
JP    4254508
IN    4195000
ES    4176014
       ...
JE          2
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

La colonne "*region*" semble donner les pays où chaque titre est distribué. La colonne "isOriginalTitle ne donne pas d'information intéressante.

## Données de la colonne '*attributes*'

In [12]:
df_title_akas["attributes"].value_counts()

\N                                                                35326897
transliterated title                                                 27845
alternative spelling                                                 19129
new title                                                            17922
literal English title                                                15484
                                                                    ...
longer versionrerun title                                               1
first four episodes title                                                1
YIVO translationreissue title                                           1
Locarno film festival title                                              1
added framing sequences and narration in Yiddishreissue title           1
Name: attributes, Length: 188, dtype: int64

Les données de "*attributes*" ne semblent pas intéressantes.

## Données de la colonne '*types*'

In [13]:
df_title_akas["types"].value_counts()

\N                      30056932
imdbDisplay              3471965
original                 1810364
alternative               110254
working                    53752
dvd                        21934
video                      20812
festival                   19434
tv                         18515
dvdimdbDisplay              233
imdbDisplaytv                74
festivalimdbDisplay          66
imdbDisplayworking           31
imdbDisplayvideo             26
alternativetv                 9
tvvideo                       7
alternativedvd                6
videoworking                  5
alternativeworking            5
tvworking                     4
festivalworking               3
alternativevideo              2
dvdvideo                      2
alternativefestival           2
Name: types, dtype: int64

Les données de "*types*" ne semblent pas intéressantes.

***
# Réduction des DataFrame en filtrant

## Filtre DataFrame "basics" avec l'année de production à partir de 1980

### Conversion de la colonne '*startYear*' en valeur numérique dans un nouveau DataFrame

#### Création d'un DataFrame avec uniquement les valeurs numériques de '*startYear*'

In [14]:
# Création du DataFrame df_title_basics_recent_years en ne gardant que les lignes de df_title_basics
# pour lesquelles la colonne "startYearNumeric" est True (= startYear est numérique)
df_title_basics_recent_years = df_title_basics.loc[df_title_basics["startYearNumeric"] == True]
print(df_title_basics_recent_years.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8447825 entries, 0 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         object
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), object(9)
memory usage: 660.6+ MB
None

<div class="alert alert-block alert-info">
    <b>Note :</b> Il faut passer par une copy du DataFrame <em>df_title_basics_recent_years</em> pour y faire le changement de type de données de la colonne "startYear", car si on le fait directement dans <em>df_title_basics_recent_years</em>, un message d'avertissement est renvoyé.
</div>

In [15]:
# Création d'une copie du DataFrame df_title_basics_recent_years,
# pour y appliquer le changement de type de données de "startYear"
df_title_basics_recent_years_copy = df_title_basics_recent_years.copy()

In [16]:
# Application de la méthode "to_numeric" pour changer le type de données de "startYear"
df_title_basics_recent_years_copy["startYear"] = pd.to_numeric(df_title_basics_recent_years_copy["startYear"])

In [17]:
# Vérification, affichage des infos
df_title_basics_recent_years_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8447825 entries, 0 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         int64
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), int64(1), object(8)
memory usage: 660.6+ MB

In [18]:
# Copie de ce DataFrame dans df_title_basics_recent_years
df_title_basics_recent_years = df_title_basics_recent_years_copy.copy()

In [19]:
# Vérification, affichage des infos de df_title_basics_recent_years
df_title_basics_recent_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8447825 entries, 0 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         int64
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), int64(1), object(8)
memory usage: 660.6+ MB

### Filtre sur la colonne '*startYear*'

In [20]:
# Application du filtre dans la méthode loc
df_title_basics_recent_years = df_title_basics_recent_years.loc[df_title_basics_recent_years["startYear"] >= 1980]
print(df_title_basics_recent_years.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7545704 entries, 11636 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         int64
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), int64(1), object(8)
memory usage: 590.1+ MB
None

On récupère donc un peu **plus de 7 500 000 titres** dont l'année de début est supérieure ou égale à 1980.

## Filtre DataFrame "akas" avec la région "FR"

In [21]:
# Création d'un nouveau DataFrame avec application du filtre dans la méthode loc
df_title_akas_fr = df_title_akas.loc[df_title_akas["region"] == "FR"]

In [22]:
# Vérification des infos du nouveau DataFrame
print(df_title_akas_fr.info())
print()
# Vérification qu'il n'y a que la valeur "FR" dans la colonne 'region'
print(df_title_akas_fr["region"].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4255395 entries, 9 to 35584429
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 292.2+ MB
None

FR    4255395
Name: region, dtype: int64

On récupère un peu **plus de 4 250 00 titres** distribués en France.

***
# Fusion des DataFrame "akas" et "basics" modifiés avec jointure
Fusion pour récupérer un seul Dataframe contenant les titres distribués en France (region "FR") et datant d'à partir de 1980 (startYear >= 1980)

In [23]:
# Création d'un nouveau DataFrame comme résultat de cette jointure
# merge de type inner join (how = 'inner') sur les champs "tconst" et "titleID"
# pour récupérer les lignes pour lesquelles les valeurs de region et de startYear sont disponibles.
df_title_fr_recent_years = pd.merge(
    left = df_title_basics_recent_years, right = df_title_akas_fr, how = 'inner',
    left_on = "tconst", right_on = "titleId")

In [24]:
# Affichage
df_title_fr_recent_years

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,startYearNumeric,isAdultOk,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary,True,True,tt0013274,2,Histoire de la guerre civile,FR,\N,\N,\N,0
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N,True,True,tt0015414,3,La terre des taureaux,FR,\N,imdbDisplay,\N,0
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N,True,True,tt0015414,5,La Terre des taureaux,FR,\N,alternative,\N,0
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",True,True,tt0035423,11,Kate et Léopold,FR,\N,imdbDisplay,\N,0
4,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",0,1983,\N,118,"Drama,War",True,True,tt0036606,7,Les Coeurs captifs,FR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852502,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
2852503,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916846,1,Épisode #3.18,FR,fr,\N,\N,0
2852504,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916848,1,Épisode #3.17,FR,fr,\N,\N,0
2852505,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916850,3,Épisode #3.19,FR,fr,\N,\N,0
2852506,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916852,2,Épisode #3.20,FR,fr,\N,\N,0

***
# Filtre du nouveau DataFrame sur certaines valeurs

## Filtre sur les *types* de titre pour ne garder que les films "longs métrages"

### Vérification des *types* de titre

In [25]:
# Affichage et décompte des catégories de "type" de titre (titleType)
df_title_fr_recent_years["titleType"].value_counts()

tvEpisode       2719662
movie             54094
short             31352
tvMovie           18375
tvSeries          13467
video              9344
tvMiniSeries       3739
videoGame          1228
tvSpecial           936
tvShort             310
Name: titleType, dtype: int64

- Les *types* de titre les plus fréquents sont les "épisodes de télé" ; ils ne nous intéressent pas.
- Les films ("**movies**") sont les deuxièmes *types* les plus fréquents, c'est ce type qui nous intéresse et que l'on va garder.
- Les autres types ne nous intéressent pas non plus et ne seront donc pas gardés.

### Nouveau DataFrame avec filtre sur les *types* de film

In [26]:
# Création d'un nouveau DataFrame en filtrant le précédent
# pour ne garder que les types "movie" dans la colonne "titleType"
df_movie_title_fr_recent_years = df_title_fr_recent_years[df_title_fr_recent_years["titleType"] == "movie"]

In [27]:
# Affichage des infos du DataFrame mis à jour
df_movie_title_fr_recent_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54094 entries, 0 to 2852410
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tconst            54094 non-null  object
 1   titleType         54094 non-null  object
 2   primaryTitle      54094 non-null  object
 3   originalTitle     54094 non-null  object
 4   isAdult           54094 non-null  object
 5   startYear         54094 non-null  int64
 6   endYear           54094 non-null  object
 7   runtimeMinutes    54094 non-null  object
 8   genres            54094 non-null  object
 9   startYearNumeric  54094 non-null  bool
 10  isAdultOk         54094 non-null  bool
 11  titleId           54094 non-null  object
 12  ordering          54094 non-null  int64
 13  title             54094 non-null  object
 14  region            54094 non-null  object
 15  language          54094 non-null  object
 16  types             54094 non-null  object
 17  attributes        54094 non-null  object
 18  isOriginalTitle   54094 non-null  object
dtypes: bool(2), int64(2), object(15)
memory usage: 7.5+ MB

***
# Suppression des données inutiles

## Suppression des doublons

On recherche les lignes qui sont en doublon (basée sur la colonne "*tconst*" qui est l'identifiant unique d'un titre), pour ensuite les supprimer, afin d'alléger le dataset.

In [28]:
# Recherche des doublons uniquement sur la colonne "tconst" qui sert d'identifiant unique pour chaque titre
nb_duplicates = df_movie_title_fr_recent_years.duplicated(subset = 'tconst').sum()
print(f"Il y a {nb_duplicates} doublons présents dans le DataFrame df_movie_title_fr_recent_years.")

Il y a 4706 doublons présents dans le DataFrame df_movie_title_fr_recent_years.

### Copie du DataFrame dans un nouveau pour y faire les suppressions de données

In [29]:
# Création du DataFrame df_movie_fr_recent_years_trim pour y faire les suppressions de données
df_movie_fr_recent_years_trim = df_movie_title_fr_recent_years.copy()

#### Echantillonage des films avec doublons pour voir les différences

In [30]:
# Création d'une DataFrame contenant les films avec doublons
df_duplicates = df_movie_fr_recent_years_trim[df_movie_fr_recent_years_trim.duplicated(subset = 'tconst')]
df_duplicates.head(8)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,startYearNumeric,isAdultOk,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N,True,True,tt0015414,5,La Terre des taureaux,FR,\N,alternative,\N,0
12,tt0066151,movie,Ninja Destroyer,Ninja Destroyer,0,1986,\N,92,"Action,Adventure",True,True,tt0066151,9,Ninja American Destroyer,FR,\N,imdbDisplay,\N,0
29,tt0075816,movie,Chaste and Pure,Casta e pura,0,1981,\N,88,Comedy,True,True,tt0075816,7,Rosa chaste et pure,FR,\N,video,\N,0
42,tt0077472,movie,Dragon Lee Fights Again,Jie quan da dong kau,0,1981,\N,87,"Action,Drama",True,True,tt0077472,5,"Face au Tigre, l'évadé de Hong Kong",FR,\N,imdbDisplay,\N,0
50,tt0078053,movie,Two Female Spies with Flowered Panties,Ópalo de fuego: Mercaderes del sexo,0,1980,\N,96,Thriller,True,True,tt0078053,7,Espionnes au soleil,FR,\N,alternative,\N,0
55,tt0078356,movie,Tusk,Tusk,0,1980,\N,119,Drama,True,True,tt0078356,8,Tusk - Une fable panique,FR,\N,\N,complete title,0
60,tt0078733,movie,Adolescentes au pensionnat,Adolescentes au pensionnat,1,1981,\N,83,Adult,True,True,tt0078733,3,Amourettes au pensionnat,FR,\N,alternative,\N,0
69,tt0078871,movie,The Queen of Black Magic,Ratu ilmu hitam,0,1981,\N,90,"Drama,Horror",True,True,tt0078871,9,Exorcisme noir,FR,\N,video,\N,0

In [37]:
# Affichage d'un échantillon aléatoire de films avec leurs doublons pour voir les données des différents champs
# et chercher les différences
df_movie_fr_recent_years_trim[df_movie_fr_recent_years_trim["tconst"].isin(list(df_duplicates["tconst"].sample(10)))]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,startYearNumeric,isAdultOk,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
626952,tt12369722,movie,Russia According to Ekaterina,Russia According to Ekaterina,0,2019,\N,120,Documentary,True,True,tt12369722,1,Russia According to Ekaterina,FR,\N,imdbDisplay,\N,0
626953,tt12369722,movie,Russia According to Ekaterina,Russia According to Ekaterina,0,2019,\N,120,Documentary,True,True,tt12369722,3,La Russie selon Ekaterina,FR,\N,\N,original script title,0
753769,tt1337055,movie,Future X-Cops,Mei loi ging chat,0,2010,\N,99,"Action,Sci-Fi",True,True,tt1337055,11,Time Warriors: La révolte des mutants,FR,\N,imdbDisplay,\N,0
753770,tt1337055,movie,Future X-Cops,Mei loi ging chat,0,2010,\N,99,"Action,Sci-Fi",True,True,tt1337055,7,Time Warriors: la révolte des mutants,FR,\N,imdbDisplay,\N,0
833721,tt1410294,movie,The Queen of Clubs,La dame de trèfle,0,2009,\N,99,"Crime,Drama",True,True,tt1410294,2,La dame de trèfle,FR,\N,imdbDisplay,\N,0
833722,tt1410294,movie,The Queen of Clubs,La dame de trèfle,0,2009,\N,99,"Crime,Drama",True,True,tt1410294,3,Les aventureux,FR,\N,working,\N,0
835675,tt1412316,movie,Murphy's Law,La loi de Murphy,0,2009,\N,86,"Comedy,Crime",True,True,tt1412316,1,A bloc,FR,\N,working,\N,0
835676,tt1412316,movie,Murphy's Law,La loi de Murphy,0,2009,\N,86,"Comedy,Crime",True,True,tt1412316,2,La loi de Murphy,FR,\N,imdbDisplay,\N,0
835677,tt1412316,movie,Murphy's Law,La loi de Murphy,0,2009,\N,86,"Comedy,Crime",True,True,tt1412316,7,Diamants sur ordonnance,FR,\N,working,\N,0
1111172,tt1671494,movie,A Butterfly Kiss,Un baiser papillon,0,2011,\N,101,Drama,True,True,tt1671494,2,Et si on changeait le monde,FR,\N,working,\N,0
1111173,tt1671494,movie,A Butterfly Kiss,Un baiser papillon,0,2011,\N,101,Drama,True,True,tt1671494,7,Un baiser papillon,FR,\N,imdbDisplay,\N,0
2189881,tt6121564,movie,7 Days,7 Giorni,0,2016,\N,96,"Drama,Romance",True,True,tt6121564,12,Les Sirènes de Levanzo,FR,\N,alternative,\N,0
2189882,tt6121564,movie,7 Days,7 Giorni,0,2016,\N,96,"Drama,Romance",True,True,tt6121564,8,7 Journées,FR,\N,imdbDisplay,\N,0
2213288,tt6330052,movie,Gauguin: Voyage to Tahiti,Gauguin - Voyage de Tahiti,0,2017,\N,102,"Biography,Drama,Romance",True,True,tt6330052,16,Gaugin-Voyage de Tahiti,FR,\N,imdbDisplay,\N,0
2213289,tt6330052,movie,Gauguin: Voyage to Tahiti,Gauguin - Voyage de Tahiti,0,2017,\N,102,"Biography,Drama,Romance",True,True,tt6330052,8,Gauguin - Voyage de Tahiti,FR,\N,\N,complete title,0
2380992,tt7460328,movie,Le Diable au cul,Le Diable au cul,1,1983,\N,61,Adult,True,True,tt7460328,1,Sexe Stop,FR,\N,alternative,\N,0
2380993,tt7460328,movie,Le Diable au cul,Le Diable au cul,1,1983,\N,61,Adult,True,True,tt7460328,3,Le Diable au cul,FR,\N,imdbDisplay,\N,0
2465399,tt7967412,movie,Eye for an Eye,Quien a hierro mata,0,2019,\N,107,"Drama,Thriller",True,True,tt7967412,13,Quien a hierro mata,FR,\N,imdbDisplay,\N,0
2465400,tt7967412,movie,Eye for an Eye,Quien a hierro mata,0,2019,\N,107,"Drama,Thriller",True,True,tt7967412,20,Eye for an eye,FR,\N,imdbDisplay,\N,0
2648373,tt9009826,movie,Send It!,Send It!,0,2021,\N,101,"Action,Adventure,Comedy",True,True,tt9009826,2,Send It!,FR,\N,imdbDisplay,\N,0
2648374,tt9009826,movie,Send It!,Send It!,0,2021,\N,101,"Action,Adventure,Comedy",True,True,tt9009826,3,Extrême limite,FR,\N,\N,new title,0

A priori les valeurs doublons (titres partageant la même valeur "*tconst*") conservent les mêmes valeurs pour les champs suivants :
- "*startYear*" (année),
- "*runtimeMinutes*" (durée),
- "*genres*".

Ils divergent principalement par les champs :
- "*title*" (titre dans la région, ici la France),
- "*ordering*" (qui sert à différencier des titres ayant la même identifiant "*tconst*"),
- "*types*" et "*attributes*" (qui concernent a prori l'affichage du titre, ne semblent pas utiles pour l'analyse).

On peut donc a priori **supprimer les doublons pour ne conserver qu'un seul exemplaire de chaque film** (identifié par la valeur "*tconst*").

#### Suppression des lignes en doublon

In [38]:
# Suppression des doublons (sur la valeur du champ "tconst")
df_movie_fr_recent_years_trim.drop_duplicates(subset = 'tconst', inplace = True)

In [39]:
# Affichage des infos du DataFrame mis à jour
df_movie_fr_recent_years_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49388 entries, 0 to 2852410
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tconst            49388 non-null  object
 1   titleType         49388 non-null  object
 2   primaryTitle      49388 non-null  object
 3   originalTitle     49388 non-null  object
 4   isAdult           49388 non-null  object
 5   startYear         49388 non-null  int64
 6   endYear           49388 non-null  object
 7   runtimeMinutes    49388 non-null  object
 8   genres            49388 non-null  object
 9   startYearNumeric  49388 non-null  bool
 10  isAdultOk         49388 non-null  bool
 11  titleId           49388 non-null  object
 12  ordering          49388 non-null  int64
 13  title             49388 non-null  object
 14  region            49388 non-null  object
 15  language          49388 non-null  object
 16  types             49388 non-null  object
 17  attributes        49388 non-null  object
 18  isOriginalTitle   49388 non-null  object
dtypes: bool(2), int64(2), object(15)
memory usage: 6.9+ MB

## Suppression des colonnes inutiles

On va regarder le contenu des différentes colonnes pour voir si les données qu'elles contiennent sont intéressantes ou pertinentes, et choisir celles à garder et celles à supprimer, afin d'alléger le dataset.

### Inpsection des données des différentes colonnes

#### Colonne "*isOriginalTitle*"

In [40]:
df_movie_fr_recent_years_trim["isOriginalTitle"].value_counts()

0    49388
Name: isOriginalTitle, dtype: int64

#### Colonne "*attributes*"

In [41]:
print(df_movie_fr_recent_years_trim["attributes"].value_counts())

print("\n- Nombre d'occurences de la valeur la plus présente : ",
      df_movie_fr_recent_years_trim["attributes"].value_counts().values[0])
print("- En pourcentage : ",
      round(df_movie_fr_recent_years_trim["attributes"].value_counts().values[0] /
      len(df_movie_fr_recent_years_trim) * 100, 2), "%")

\N                                      48374
new title                                 126
DVD box title                             116
alternative spelling                       84
complete title                             80
dubbed version                             74
cable TV title                             60
literal title                              58
Cannes festival title                      53
video box title                            44
short title                                33
poster title                               32
subtitle                                   27
informal title                             22
alternative transliteration                17
original subtitled version                 17
reissue title                              16
original script title                      13
informal literal title                     13
theatrical title                           11
literal English title                      10
transliterated title                        7
long title                                  7
director's cut                              6
promotional title                           6
literal translation of working title        6
longer version                              5
informal alternative title                  5
3-D version                                 5
pre-release title                           4
informal English title                      4
video catalogue title                       4
second part title                           4
premiere title                              4
YIVO translation                            3
X-rated version                             3
copyright title                             3
soft porn version                           3
bootleg title                               3
segment title                               3
short version                               2
first part title                            2
expansion title                             2
review title                                2
orthographically correct title              2
Pay-TV title                                1
trailer title                               1
restored version                            1
unauthorized video title                    1
promotional abbreviation                    1
third part title                            1
informal short title                        1
TV listings title                           1
rerun title                                 1
DVD menu title                              1
recut version                               1
series title                                1
cut version                                 1
Name: attributes, dtype: int64

- Nombre d'occurences de la valeur la plus présente :  48374
- En pourcentage :  97.95 %

#### Colonne "*language*"

In [42]:
print(df_movie_fr_recent_years_trim["language"].value_counts())

print("\n- Nombre d'occurences de la valeur la plus présente : ",
      df_movie_fr_recent_years_trim["language"].value_counts().values[0])
print("- En pourcentage : ",
      round(df_movie_fr_recent_years_trim["language"].value_counts().values[0] /
      len(df_movie_fr_recent_years_trim) * 100, 2), "%")

\N     49321
fr        48
en        13
qal        6
Name: language, dtype: int64

- Nombre d'occurences de la valeur la plus présente :  49321
- En pourcentage :  99.86 %

#### Colonne "*types*"

In [43]:
print(df_movie_fr_recent_years_trim["types"].value_counts())

imdbDisplay    37401
\N              8231
tv              1000
alternative      713
video            598
dvd              518
festival         508
working          419
Name: types, dtype: int64

Les données de "*types*" ne semblent pas intéressantes : plus de 72 % ont la valeur "imdbDisplay", plus de 17% sont manquantes ("\N").

#### Colonne "*endYear*"

In [44]:
print(df_movie_fr_recent_years_trim["endYear"].value_counts())

\N    49388
Name: endYear, dtype: int64

#### Colonne "*ordering*"

In [45]:
print(df_movie_fr_recent_years_trim["ordering"].value_counts())

2     8696
1     7994
3     4427
4     3384
5     2652
      ...
94       1
66       1
73       1
68       1
71       1
Name: ordering, Length: 78, dtype: int64

#### Comparaison des colonnes "*primaryTitle*" et "*title*"

In [46]:
len(df_movie_fr_recent_years_trim[
    df_movie_fr_recent_years_trim["primaryTitle"] == df_movie_fr_recent_years_trim["title"]])

22427

Il y a un peu plus de la moitié des films pour lesquels les colonnes "*primaryTitle*" et "*title*" ont des valeurs différentes ; on va donc garder les deux.

#### Comparaison des colonnes "*tconst*" et "*titleId*"

In [47]:
len(df_movie_fr_recent_years_trim[
    df_movie_fr_recent_years_trim["tconst"] == df_movie_fr_recent_years_trim["titleId"]])

49388

In [48]:
# Affichage des colonnes
df_movie_fr_recent_years_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49388 entries, 0 to 2852410
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tconst            49388 non-null  object
 1   titleType         49388 non-null  object
 2   primaryTitle      49388 non-null  object
 3   originalTitle     49388 non-null  object
 4   isAdult           49388 non-null  object
 5   startYear         49388 non-null  int64
 6   endYear           49388 non-null  object
 7   runtimeMinutes    49388 non-null  object
 8   genres            49388 non-null  object
 9   startYearNumeric  49388 non-null  bool
 10  isAdultOk         49388 non-null  bool
 11  titleId           49388 non-null  object
 12  ordering          49388 non-null  int64
 13  title             49388 non-null  object
 14  region            49388 non-null  object
 15  language          49388 non-null  object
 16  types             49388 non-null  object
 17  attributes        49388 non-null  object
 18  isOriginalTitle   49388 non-null  object
dtypes: bool(2), int64(2), object(15)
memory usage: 6.9+ MB

### Suppression des colonnes inutiles

#### Suppression de la colonne "*titleId*"
Toutes les données de la colonne "*titleId*" sont égales à celles de la colonne "*tconst*" (identifiant du film, c'est dû à la construction du DataFrame), cette colonne ne sert donc à rien et peut être supprimée.

In [49]:
df_movie_fr_recent_years_trim.drop(columns = "titleId", inplace = True)

#### Suppression de la colonne "*ordering*"
Cette valeur est en fait un nombre qui sert à identifier de façon unique les lignes pour un titleId donné dans la table "akas". Cette colonne ne sert plus.

In [50]:
df_movie_fr_recent_years_trim.drop(columns = "ordering", inplace = True)

#### Suppression de la colonne "*region*"
Toutes les données de la colonne "*region*" sont égales et valent `FR` (dû à la construction du DataFrame), cette colonne ne sert donc à rien et peut être supprimée.

In [51]:
df_movie_fr_recent_years_trim.drop(columns = "region", inplace = True)

#### Suppression de la colonne "*titleType*"
Toutes les données de la colonne "*titleType*" sont égales et valent `movie` (dû à la construction du DataFrame), cette colonne ne sert donc à rien et peut être supprimée.

In [52]:
df_movie_fr_recent_years_trim.drop(columns = "titleType", inplace = True)

#### Suppression de la colonne "*endYear*"
Toutes les données de la colonne "*endYear*" valent `\N`, cette colonne ne sert donc à rien et peut être supprimée.

In [53]:
df_movie_fr_recent_years_trim.drop(columns = "endYear", inplace = True)

#### Suppression de la colonne "*isOriginalTitle*"
Toutes les données de la colonne "*isOriginalTitle*" valent `0`, cette colonne ne sert donc à rien et peut être supprimée.

In [54]:
df_movie_fr_recent_years_trim.drop(columns = "isOriginalTitle", inplace = True)

#### Suppression de la colonne "*attributes*"
Près de 97 % des données de la colonne "*attributes*" valent `\N`, cette colonne n'apporte rien à notre analyse et peut être supprimée.

In [55]:
df_movie_fr_recent_years_trim.drop(columns = "attributes", inplace = True)

#### Suppression de la colonne "*language*"
Près de 100 % des données de la colonne "*language*" valent `\N`, cette colonne n'apporte rien à notre analyse et peut être supprimée.

In [56]:
df_movie_fr_recent_years_trim.drop(columns = "language", inplace = True)

#### Suppression de la colonne "*types*"
Les données de "*types*" ne semblent pas intéressantes : plus de 72 % ont la valeur "imdbDisplay", plus de 17% sont manquantes ("\N").

In [57]:
df_movie_fr_recent_years_trim.drop(columns = "types", inplace = True)

#### Suppression des colonnes "*primaryTitle*" et  "*originalTitle*"
Ces colonnes représentent d'autres noms pour le même titre, elles n'apportent pas d'information utile et peuvent être supprimées. On se contente de garder la colonne "*title*" qui est le titre dans la région de diffusion, donc ici la France.

In [58]:
df_movie_fr_recent_years_trim.drop(columns = "primaryTitle", inplace = True)
df_movie_fr_recent_years_trim.drop(columns = "originalTitle", inplace = True)

#### Suppression des colonnes "*startYearNumeric*" et  "*isAdultOk*"
Ces colonnes ont été crééee uniquement pour vérifier les données, elles ne servent plus et peuvent être supprimées.

In [59]:
df_movie_fr_recent_years_trim.drop(columns = "startYearNumeric", inplace = True)
df_movie_fr_recent_years_trim.drop(columns = "isAdultOk", inplace = True)

### Infos de la table modifiée

In [60]:
# Affichage des données de la table mise à jour, après la suppression des colonnes.
df_movie_fr_recent_years_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49388 entries, 0 to 2852410
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          49388 non-null  object
 1   isAdult         49388 non-null  object
 2   startYear       49388 non-null  int64
 3   runtimeMinutes  49388 non-null  object
 4   genres          49388 non-null  object
 5   title           49388 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.6+ MB

In [61]:
# Affichage de quelques lignes au hasard
df_movie_fr_recent_years_trim.sample(10)

,tconst,isAdult,startYear,runtimeMinutes,genres,title
2100438,tt5335314,0,2017,150,Drama,Un pas derrière les séraphins
4550,tt0092272,0,1986,110,"Drama,Romance,Sport",Youngblood
8332,tt0102829,0,1991,95,Drama,Salmonberries
961988,tt1525586,0,2009,115,Documentary,Strade d'acqua
911556,tt14813966,0,2022,105,"Comedy,Drama,Romance",Madea: Retour en Fanfare
1437018,tt21279138,0,2022,114,Drama,Maid in Malacañang
289237,tt10505148,0,2019,\N,Documentary,Brise-lames
517857,tt11605940,0,2020,52,Documentary,Barthes*
36254,tt0447249,0,2006,81,"Animation,Comedy,Family","Lotte, du village des inventeurs"
224420,tt10233718,0,2022,110,"Crime,Drama,Thriller",Vadh

***
# Exploration des genres des films

On s'intéresse aux données de la colonne "*genres*", afin de lister les genres de film présents, puis "éclater" les données de cette colonne pour n'avoir qu'un seul *genre* par ligne dans cette colonne.

In [62]:
df_movie_fr_recent_years_trim

,tconst,isAdult,startYear,runtimeMinutes,genres,title
0,tt0013274,0,2021,94,Documentary,Histoire de la guerre civile
1,tt0015414,0,2000,60,\N,La terre des taureaux
3,tt0035423,0,2001,118,"Comedy,Fantasy,Romance",Kate et Léopold
4,tt0036606,0,1983,118,"Drama,War",Les Coeurs captifs
5,tt0038687,0,1980,58,"Documentary,War",Que la lumière soit
...,...,...,...,...,...,...
2851935,tt9913936,0,2019,135,"Crime,Drama",Le paradis de Diego
2852016,tt9914164,0,2019,55,Documentary,Une vie de château
2852339,tt9915790,0,2019,106,Family,Bobbyr Bondhura
2852390,tt9916162,0,1999,45,Documentary,Making of 'La Virgen de los sicarios'
2852410,tt9916362,0,2020,92,"Drama,History",Les sorcières d'Akelarre

## Films n'ayant pas de genre

### Valeurs manquantes dans la colonne "*genres*"

In [63]:
# Décompte des valeurs manquantes dans la colonne "genres"
df_movie_fr_recent_years_trim["genres"].isna().value_counts()

False    49388
Name: genres, dtype: int64

Il n'y a aucune valeur manquante ("*NA*") dans cette colonne.

In [74]:
# Création d'une copie du DataFrame et reset des index
df_movie_fr_recent_years_trim_copy = df_movie_fr_recent_years_trim.copy()
df_movie_fr_recent_years_trim_copy.reset_index(inplace = True)

### Genres "*\N*" = manquants

In [75]:
nb_N_genres = len(df_movie_fr_recent_years_trim_copy[df_movie_fr_recent_years_trim_copy["genres"] == "\\N"])
print(f"Il y a {nb_N_genres} films n'ayant pas de genre (valeur '\\N').")

Il y a 1133 films n'ayant pas de genre (valeur '\N').

### Suppression des films n'ayant pas de genres

In [76]:
df_movie_fr_recent_years_trim_copy = df_movie_fr_recent_years_trim_copy[
    df_movie_fr_recent_years_trim_copy["genres"] != "\\N"]

In [77]:
# Affichage des données de la table mise à jour, après la suppression des lignes.
df_movie_fr_recent_years_trim_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48255 entries, 0 to 49387
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           48255 non-null  int64
 1   tconst          48255 non-null  object
 2   isAdult         48255 non-null  object
 3   startYear       48255 non-null  int64
 4   runtimeMinutes  48255 non-null  object
 5   genres          48255 non-null  object
 6   title           48255 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.9+ MB

## Extraction d'un dictionnaire de genres avec leur nombre d'occurences

In [78]:
# Reset des index
df_movie_fr_recent_years_trim_copy.reset_index(inplace = True)

In [79]:
# Initialisation d'un dictionnaire qui va servir à lister les genres présents, avec :
    # chaque clé est un genre
    # chaque valeur est la nombre d'occurences de ce genre
dict_genres = {}

list_tmp = [] # liste temporaire utilisée dans la boucle
nb_movies = len(df_movie_fr_recent_years_trim_copy) # Nbre de films

# Boucle sur les films de notre DataFrame ..._copy
for i in range(nb_movies):
    try:
        list_tmp = df_movie_fr_recent_years_trim_copy["genres"][i].split(",")
            # Affectation la liste des genres de la ligne courant à la ligne temp
        df_movie_fr_recent_years_trim_copy["genres"][i] = list_tmp
            # Remplacement de la valeur dans la colonne "genres" par cette liste de genres
        # Vérification, pour chaque genre de cette liste, s'il est déjà présent dans le dictionnaire
        for str_genre in list_tmp:
            if not str_genre in dict_genres:
                # Si le genre n'est pas dans le dictionnaire, on l'ajoute
                dict_genres[str_genre] = 1
            else:
                # Si le genre est déjà dans le dictionnaire, on incrémente son nombre d'occurences
                dict_genres[str_genre] += 1
    except:
        value_i = df_movie_fr_recent_years_trim_copy["genres"][i]
        print(f"Erreur pour i = {i} : {value_i}")

C:\Users\julie\AppData\Local\Temp\ipykernel_37396\4265379963.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_fr_recent_years_trim_copy["genres"][i] = list_tmp

In [80]:
# Affichage du dictionnaire
sorted(dict_genres.items(), key = lambda x : x[1], reverse = True)

[('Drama', 21887),
 ('Comedy', 11641),
 ('Documentary', 10124),
 ('Action', 6485),
 ('Thriller', 5655),
 ('Crime', 5132),
 ('Romance', 5129),
 ('Adventure', 4134),
 ('Horror', 4025),
 ('Mystery', 2435),
 ('Fantasy', 2091),
 ('Biography', 2091),
 ('Family', 1886),
 ('Sci-Fi', 1839),
 ('Animation', 1718),
 ('History', 1511),
 ('Music', 1336),
 ('Adult', 850),
 ('War', 846),
 ('Sport', 644),
 ('Musical', 459),
 ('Western', 171),
 ('News', 61),
 ('Reality-TV', 10),
 ('Talk-Show', 2),
 ('Short', 2),
 ('Game-Show', 1)]

### Création d'un DataFrame à partir de ce dictionnaire

In [119]:
df_genres = pd.DataFrame.from_dict(dict_genres, orient = 'index', columns = ['Occurences'])

In [120]:
df_genres.sort_values(by = "Occurences", ascending = False, inplace = True)
df_genres.reset_index(inplace = True)
df_genres.rename(columns = {"index" : "Genre"}, inplace = True)
df_genres

          Genre  Occurences
0         Drama       21887
1        Comedy       11641
2   Documentary       10124
3        Action        6485
4      Thriller        5655
5         Crime        5132
6       Romance        5129
7     Adventure        4134
8        Horror        4025
9       Mystery        2435
10    Biography        2091
11      Fantasy        2091
12       Family        1886
13       Sci-Fi        1839
14    Animation        1718
15      History        1511
16        Music        1336
17        Adult         850
18          War         846
19        Sport         644
20      Musical         459
21      Western         171
22         News          61
23   Reality-TV          10
24    Talk-Show           2
25        Short           2
26    Game-Show           1

### Enregistrement de la liste des genres en fichier csv

In [121]:
df_genres.to_csv(
    r"C:\Users\julie\Wild Code School\Projet 2\genres.csv", index = True)

## Suppression des films avec un genre peu représenté

On supprime les films ayant un genre parmi les 5 derniers derniers du dictionnaire précédent : genres avec moins de 100 occurences ('News', 'Reality-TV', 'Talk-Show', 'Short', 'Game-Show') car ils ne semblent pas pertinents pour des films.

In [84]:
df_movie_fr_recent_years_trim_copy

,level_0,index,tconst,isAdult,startYear,runtimeMinutes,genres,title
0,0,0,tt0013274,0,2021,94,[Documentary],Histoire de la guerre civile
1,2,3,tt0035423,0,2001,118,"[Comedy, Fantasy, Romance]",Kate et Léopold
2,3,4,tt0036606,0,1983,118,"[Drama, War]",Les Coeurs captifs
3,4,5,tt0038687,0,1980,58,"[Documentary, War]",Que la lumière soit
4,5,6,tt0059325,0,1990,100,"[Drama, Romance]",Génération 45
...,...,...,...,...,...,...,...,...
48250,49383,2851935,tt9913936,0,2019,135,"[Crime, Drama]",Le paradis de Diego
48251,49384,2852016,tt9914164,0,2019,55,[Documentary],Une vie de château
48252,49385,2852339,tt9915790,0,2019,106,[Family],Bobbyr Bondhura
48253,49386,2852390,tt9916162,0,1999,45,[Documentary],Making of 'La Virgen de los sicarios'
48254,49387,2852410,tt9916362,0,2020,92,"[Drama, History]",Les sorcières d'Akelarre

In [97]:
df_movie_fr_recent_years_trim_copy[
    df_movie_fr_recent_years_trim_copy["genres"].apply(
        lambda x: x in [
            ['News'], ['Reality-TV'], ['Talk-Show'], ['Short'], ['Game-Show']
        ]
    )
]

,level_0,index,tconst,isAdult,startYear,runtimeMinutes,genres,title
21590,22207,466046,tt11295516,0,2014,\N,[Reality-TV],Xanadou
22585,23247,559651,tt11845110,0,2019,\N,[Reality-TV],Véolia: Pyramide Inversée
22657,23319,565588,tt11886006,0,2018,95,[Talk-Show],"Benzema, combat 4 etoiles teaser"
25243,25947,754178,tt13376822,0,2019,94,[Reality-TV],Lyon vs Barcelona
25506,26217,774787,tt13550654,0,2019,\N,[Reality-TV],Nimes vs St Etienne
25507,26218,774790,tt13550662,0,2019,\N,[Reality-TV],Strasbourg vs Nimes
25509,26220,774793,tt13550674,0,2019,\N,[Reality-TV],Nimes vs Lyon
27829,28616,953558,tt15177766,0,2015,\N,[Reality-TV],What the Fik 1: Se faire tirer
28393,29192,1007508,tt15579134,0,2022,\N,[News],Ombres Chinoises au pays des Lumières
28472,29274,1015233,tt15672186,0,2021,97,[Reality-TV],Paris Saint-Germain vs Barcelona
28476,29279,1015305,tt15673022,0,2021,98,[Reality-TV],Paris Saint-Germain vs Lille OSC
33812,34708,1578835,tt23025386,0,2021,\N,[News],"Seattle, la ville où tout semble possible"
37957,38901,1923086,tt3693102,0,2007,\N,[Reality-TV],Miss Petite de France 2007
41058,42046,2094756,tt5282466,0,1994,50,[Talk-Show],Albert Cossery: entre la violence et la dérision
42098,43101,2155639,tt5837950,0,2015,60,[News],Sensibilisation aux risques psychosociaux

In [100]:
df_movie_fr_recent_years_trim_copy.drop(
    df_movie_fr_recent_years_trim_copy[
        df_movie_fr_recent_years_trim_copy["genres"].apply(
            lambda x: x in [['News'], ['Reality-TV'], ['Talk-Show'], ['Short'], ['Game-Show']]
        )].index, inplace = True)

In [101]:
# Affichage des données de la table mise à jour, après la suppression des lignes.
df_movie_fr_recent_years_trim_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48240 entries, 0 to 48254
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   level_0         48240 non-null  int64
 1   index           48240 non-null  int64
 2   tconst          48240 non-null  object
 3   isAdult         48240 non-null  object
 4   startYear       48240 non-null  int64
 5   runtimeMinutes  48240 non-null  object
 6   genres          48240 non-null  object
 7   title           48240 non-null  object
dtypes: int64(3), object(5)
memory usage: 3.3+ MB

### Enregistrement en fichier csv ou Excel

In [123]:
df_movie_fr_recent_years_trim_copy.to_csv(
    r"C:\Users\julie\Wild Code School\Projet 2\movies_in_Fr_from_1980.csv", index = True)

In [124]:
df_movie_fr_recent_years_trim_copy.to_excel(
    r"C:\Users\julie\Wild Code School\Projet 2\movies_in_Fr_from_1980.xlsx", index = True)

### Eclatement des genres de film

In [125]:
df_movie_title_fr_recent_years_exploded = df_movie_fr_recent_years_trim_copy.explode(column = "genres")

In [126]:
df_movie_title_fr_recent_years_exploded

,level_0,index,tconst,isAdult,startYear,runtimeMinutes,genres,title
0,0,0,tt0013274,0,2021,94,Documentary,Histoire de la guerre civile
1,2,3,tt0035423,0,2001,118,Comedy,Kate et Léopold
1,2,3,tt0035423,0,2001,118,Fantasy,Kate et Léopold
1,2,3,tt0035423,0,2001,118,Romance,Kate et Léopold
2,3,4,tt0036606,0,1983,118,Drama,Les Coeurs captifs
...,...,...,...,...,...,...,...,...
48251,49384,2852016,tt9914164,0,2019,55,Documentary,Une vie de château
48252,49385,2852339,tt9915790,0,2019,106,Family,Bobbyr Bondhura
48253,49386,2852390,tt9916162,0,1999,45,Documentary,Making of 'La Virgen de los sicarios'
48254,49387,2852410,tt9916362,0,2020,92,Drama,Les sorcières d'Akelarre
48254,49387,2852410,tt9916362,0,2020,92,History,Les sorcières d'Akelarre

In [127]:
df_movie_title_fr_recent_years_exploded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92150 entries, 0 to 48254
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   level_0         92150 non-null  int64
 1   index           92150 non-null  int64
 2   tconst          92150 non-null  object
 3   isAdult         92150 non-null  object
 4   startYear       92150 non-null  int64
 5   runtimeMinutes  92150 non-null  object
 6   genres          92150 non-null  object
 7   title           92150 non-null  object
dtypes: int64(3), object(5)
memory usage: 6.3+ MB

### Enregistrement en fichier csv ou Excel

In [128]:
df_movie_title_fr_recent_years_exploded.to_csv(
    r"C:\Users\julie\Wild Code School\Projet 2\movies_in_Fr_from_1980_genres_exploded.csv", index = True)